<a href="https://colab.research.google.com/github/PradeepReddySoma/python-works/blob/master/List_lab_assignSep10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.
list1 = [1,2,3,"Vamshi",143,"Keerthana"]
print(list1)
def list_func(li):
  li2 = []
  for i in li:
    if type(i) != str:
      li2.append(i)
  return li2

print(list_func(list1))

[1, 2, 3, 'Vamshi', 143, 'Keerthana']
[1, 2, 3, 143]

In [2]:
#2.
maximum = [2,456,89,1098,2,45,67]
def maximum_num(li):
  m = max(li)
  return m
print(maximum_num(maximum))

1098

In [3]:
#3.
maximum = [2,456,89,1098,2,45,67]
def max_min(li):
  diff = max(li) - min(li)
  return diff

print(max_min(maximum))

1096

In [4]:
#4.

sample_list = [2,456,89,1098,2,45,67]
def sum_of_list(li):
  s = 0
  for i in li:
    s = s+i
  return s

print(sum_of_list(sample_list))

1759

In [5]:
#5.
def three_parts(num):
  li =[num/2,num/4,num/8]
  return li

print(three_parts(int(input("Enter a number : "))))

Enter a number : 1024
[512.0, 256.0, 128.0]

In [6]:
#6.
l = [2,456,89,1098,2,45,67]

def index_add_list(li):
  for i in range(0,len(li)):
    li[i] = li[i]+i
  
  return li

print(index_add_list(l))

[2, 457, 91, 1101, 6, 50, 73]

In [8]:
#7.
l = [2,456,89,1098,2,45,67]
def remove(li,num):
  li.append(num)
  del li[0]
  return li

print(remove(l,int(input("Enter any number : "))))

Enter any number : 23
[456, 89, 1098, 2, 45, 67, 23]

In [9]:
#8.
l = [2, 456, 89 ,78,89,2,1098, 2, 45, 67]

def sort_list(li):
  li.sort()
  x = set(li)
  return list(x)

print(sort_list(l))

[2, 67, 456, 1098, 45, 78, 89]